.eventsTop{
  background-image: url(../img/h1_hero2.jpg.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 575px){
    height: 400px;
  }   
  @media (min-width: 767px){
    height: 440px;
  }
  .container{
    h2{
      color: #fff;
      font-size: 60px;
      display: block;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 0.5rem;
    }
  }
}