header {
  transition: top 0.3s ease-in-out;
  .headerContainer {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: $white;
    @media (min-width: 767px) {
      padding: 10px 65px;
    }
    @media (min-width: 991px) {
      padding: 0 30px;
    }
    @media (min-width: 1200px) {
      padding: 0 45px;
    }
    .logoContainer {
      width: calc(2 / 12 * 100%);
      display: flex;
      align-items: center;
    }
    nav {
      width: calc(10 / 12 * 100%);
      .navigation {
        justify-content: end;
        align-items: center;
        display: none;
        @media (min-width: 991px) {
          display: flex;
        }
        .buttonHeader{
          margin:0 15px 0 28px;
        }
        li {
          margin: 0 15px;
          position: relative;
          &:hover{
            .dropdown{
              visibility: visible;
              opacity: 1;
              transform: translateY(0px);
            }
          }
          .dropdown {
            background: $bglinear;
            position: absolute;
            width: 170px;
            left: 0;
            top: 100%;
            visibility: hidden;
            z-index: 99999;
            opacity: 0;
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
            padding: 17px 0;
            transform: translateY(-10px);
            transition: all 0.3s ease-out 0s;
            li {
              margin-left: 7px;
              display: block;
              a {
                padding: 6px 10px !important;
                font-size: 16px;
                color: $white;  
                font-weight: 500;
                transition: all .3s ease-out 0s;
                &:hover{
                  transform: translateX(4px);
                  &::after{
                    display: none;
                  }
                }
              }
            }
          }
          a {
            color: $bluetext;
            font-weight: 500;
            padding: 39px 2px;
            display: block;
            font-size: 16px;
            transition: all 0.3s ease-out 0s;
            font-family: "Josefin Sans", sans-serif;
            position: relative;
            &:hover {
              color: $lightblue;
              &::after {
                width: 100%;
                left: 0;
              }
            }
            &::after {
              content: "";
              position: absolute;
              width: 0;
              bottom: 30px;
              right: 5px;
              left: -5px;
              height: 2px;
              transition: all 0.4s ease-out 0s;
              background: $lightblue;
            }
          }``
        }
      }
    }
  }
}

.headerBtn {
  display: flex !important;
  align-items: center !important;
  gap: 5px;
  width: 225px;
  color: $white !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  border-radius: 5px;
  padding: 13px 30px !important;
  background: $yellow !important;
  margin-left: 16px;
  &::after{
    display: none;
  }
  img {
    filter: invert(100%);
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.fixedHeader {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $white;
  transition: top 0.3s ease-in-out; 
}

.stickyMenu{
  background: $graynav;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 99999;
  .navigation{
    display: flex;
    flex-direction: column;
    li{
      a{
        display: block;
        color: $allwhite;
        padding: 5px 10px;
        margin: 2px 5px;
        font-size: 14px;
        border-radius: 4px;
      }
    }
  }
  @media (min-width: 991px){
    display: none;
  } 
  .menu{
    margin: 5px 5px 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: $black;
    padding: 0.438em 0.625em;
    line-height: 1.125em;
    position: relative;
    gap: 5px;
    align-self: flex-end;
    cursor: pointer;
    .menutext{
      color: $allwhite;
      display: flex;
      text-align: center;
    }
    .burger {
      z-index: 10000;
      cursor: pointer;
      background-color: transparent;
      transition: 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      gap: 3px;
      .bar{
        width: 18px;
        height: 1.5px;
        background-color: $allwhite;
      }
    }
  }
}


#sticky{
  display: none;
}
.stickyMenu.active #sticky {
  display: flex;
}